html{
    height: 100%;
}

body{
    min-height: 100%;
    margin: 0;
    padding: 0;
}

nav{
    height: 5vh;
}
 
#map{
    height:95vh;
    width: 100%;
    background-color: #222;
    color: #eee;
    font-family: monospace;

}

