<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TerraSolutions</title>
  {% block style %} {% endblock %}
  <!-- Estilo -->
  <link rel="stylesheet" href="../static/css/base.css">
</head>

<body>
  <header id="header" class="alt">
    <h1><a href="/">Solid State</a></h1>
    <nav>
      <a href="#menu">Menu</a>
    </nav>
  </header>
  <nav id="menu">
    <div class="inner">
      <h2>Menu</h2>
      <ul class="links">
        <li><a href="/">Home</a></li>
        <li><a href="/map">Generic</a></li>
        <li><a href="/">Elements</a></li>
        <li><a href="/login">Log In</a></li>
        <li><a href="/register">Sign Up</a></li>
      </ul>
      <a href="#" class="close">Close</a>
    </div>
  </nav>
  <main>
    {% block content %} {% endblock %}
  </main>
  {% block script %} {% endblock %}
  <!-- Scripts -->
  <script src="../static/js/main.js" type="text/javascript"></script>
</body>
<footer>
</footer>

</html>