<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TerraSolutions</title>
  {% block style %} {% endblock %}
  <!-- Estilo -->
  <link rel="stylesheet" href="../static/css/base.css">
</head>

<body>
  <header id="header" class="alt">
    <h1><a href="/">Solid State</a></h1>
    <nav>
      <a href="#menu">Menu</a>
    </nav>
  </header>
  <nav id="menu">
    <div class="inner">
      <h2>Menu</h2>
      <ul class="links">
        <li><a href="/">Home</a></li>
        <li><a href="/map">Generic</a></li>
        <li><a href="/">Elements</a></li>
        {% if current_user.is_anonymous %}
        <li><a href="{{ url_for('login') }}">Login</a></li>
        <li><a href="{{ url_for('register') }}">Sign Up</a></li>
        {% else %}
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% endif %}
      </ul>
      <a href="#" class="close">Close</a>
    </div>
  </nav>
  <main>
    {% block content %} {% endblock %}
  </main>
    <!-- JQuery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Scripts -->
  {% block script %} {% endblock %}
  <script src="../static/js/jquery.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="../static/js/jquery.scrollex.min.js"></script>
  <script src="../static/js/browser.min.js"></script>
  <script src="../static/js/breakpoints.min.js"></script>
  <script src="../static/js/util.js"></script>
  <script src="../static/js/main.js" type="text/javascript"></script>


</body>
<footer>
</footer>

</html>