{% extends 'baseTemplate.html' %}

{% block style %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

{% endblock %}
{% block content %}
<!-- Page Wrapper -->
<div id="page-wrapper">

    <!-- Banner -->

    <section class="hero-image" id="banner" style="text-align: center; ">
        <div class="inner">
            <h2>{{ current_user.username }}'s report:{{report.name}}. </h2>
            <p>For more information download the PDF with the in depth analysis.</p>
            <form action="/pdf/{{report.id}}" method="get">
                <input type="submit" value="Download"/>
            </form>
        </div>
    </section>

    

    <!-- Wrapper -->
    <section id="wrapper">

        <!-- Summary -->
        <section id="summary" class="wrapper alt style1">
            <div class="inner">
                <h2 class="major">Summary of the analisys</h2>
                <p>
                    The selected area of approximately {{report.area}} square meters is feasible for planting {{report.numberOfPlants}} types of plants.
                </p>
                <p>
                    The feasibility of these supposed plantations has been based on the prediction of the pillars of
                    plant growth such as temperature, humidity, rainfall in the area, hours of light and a small soil
                    analysis. The prediction is made in terms of the number of months it takes for each type of plant to
                    grow to the point of harvesting,
                    basing these predictions on the average of the last 20 years of data.
                </p>
                <p>
                    Plants that are likely to be viable for planting are:
                </p>
                <div class="table">

                </div>
                <p>
                    The following goes into detail on each of the above pillars as a rough estimate of the benefits to
                    be gained from planting each type of plant.
                </p>
            </div>
        </section>


        <!-- One -->
        <section id="one" class="wrapper spotlight style4">
            <div class="inner">
                <a href="" class="image"><img src="static/image/pic01.jpg" alt="" /></a>
                <div class="content">
                    <h2 class="major">Temperature analisys</h2>
                    <p>Temperature is one of the crucial factors for the correct development of a plant. If the plant is exposed to temperatures outside its acceptable range, 
                        it will suffer negative consequences, depending on the stage it is in.
                    </p>
                    <p>The prediction of the average temperature in the area for the next months is based of the
                        average temperature over the last 20 years.
                    </p>
                    <!-- Rotar la flecha al abrir el collapse -->
                    <button class="btn shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1"
                        aria-expanded="false" aria-controls="collapse1">
                        <a class="special">Learn More</a>
                    </button>
                    <div class="content collapse" id="collapse1">
                        {% for i in range(0,report.numberOfPlants) %}
                        <p> <strong>{{report.plantsNames[i]}}</strong>: The expected temperature for the life span of the plant is {{report.avgMonthlyTemperaturePlants[report.plantsLifePeriod[i] - 2]}} ºC.
                            {% if (('Not ideal' in  report.plantsBadges[i][0]) and ('low'  in  report.plantsBadges[i][0] ))%}
                            <p>
                                This temperatures will be too low
                                , this could result in frosts, which could lead to a decrease in weight and size of
                                growing plants and affect pollination. If crops are exposed to these temperatures for a long
                                time, they may wilt and die. It is recommended to postpone planting to another month or make
                                sure to use frost protection fabric, greenhouses or mulch the soil.
                            </p>
                            {% elif (('Not ideal' in  report.plantsBadges[i][0]) and ('high' in  report.plantsBadges[i][0] )) %}
                            <p>
                                This temperatures will be too high
                                    , this may  affect pollen viability, fertilisation and grain or fruit formation. If crops are exposed for long periods of time to withering and death
                                    of the crop, in conclusion it will reduce the performance potential. It is recommended to postpone planting to another month or to prepare cooling
                                    systems such as sprinklers.
                            </p>
                            {% elif 'Almost ideal' in  report.plantsBadges[i][0] %}
                            <p>
                            Temperatures will be acceptable in the coming months, but caution is
                            advised because of the possibility of temperatures may be harmful.
                            </p>
                            {% else %}
                            <p>
                             Temperatures is forecast to be acceptable and the chance of temperatures falling out
                                of the acceptable range is low.
                            </p>
                            {% endif %}
                        </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>

        <!-- Two -->
        <section id="two" class="wrapper alt spotlight style5">
            <div class="inner">
                <a href="#" class="image"><img src="static/image/pic02.jpg" alt="" /></a>
                <div class="content">
                    <h2 class="major">Precipitation analisys</h2>
                    <p>Rainfall is a factor that needs to be known in advance in order to be able to forecast the water consumption needed in the coming months. Too little rainfall means that better preparation is needed to moisten the soil,
                         and too much rainfall means that drainage systems are needed to prevent flooding of the crops.</p>
                    <p>The prediction of the average precipitation in the area for the next months, based of the
                        average precipitation over the last 20 years, is {not ideal, somewhat ideal, ideal} for planting
                        one or several types of crops.</p>
                    <button class="btn shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapse12"
                        aria-expanded="false" aria-controls="collapse12">
                        <a class="special">Learn More</a>
                    </button>
                    <div class="content collapse" id="collapse12">
                        {% for i in range(0,report.numberOfPlants) %}
                        <p><strong>{{report.plantsNames[i]}}</strong>: The expected rainfalls for the life span of the plant is {{report.avgMonthlyPrecipitationPlants[report.plantsLifePeriod[i] - 2]}} mm/day, which can translate to liters per square meter per day.
                            {% if (('Not ideal' in  report.plantsBadges[i][2]) and ('low'  in  report.plantsBadges[i][2] ))%}
                            <p>
                                This rainfall are considered too low, which may lead to drought and poor plant growth or loss of plants. It is recommended
                                to postpone planting to another month or to make sure to have a good watering system and
                                large amounts of water available.
                            </p>
                            {% elif (('Not ideal' in  report.plantsBadges[i][2]) and ('high' in  report.plantsBadges[i][2] )) %}
                            <p>
                                This rainfall are considered too high, which may lead to flooding of the soil and loss of the plantation or part of it. It
                                is highly recommended to postpone planting to another month or to ensure a good drainage system.
                            </p>
                            {% elif 'Almost ideal' in  report.plantsBadges[i][2] %}
                            <p>
                                Rainfalls will be acceptable in the coming months, but caution
                                is advised because of the possibility of 
                                rainfalls harmfull levels.
                            </p>
                            {% else %}
                            <p>
                                Rainfall is forecast to be acceptable and the chance of precipitation falling out of
                                the acceptable range is low.
                            </p>
                            {% endif %}
                        </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>

        <!-- Three -->
        <section id="three" class="wrapper spotlight style4">
            <div class="inner">
                <a href="#" class="image"><img src="static/image/pic03.jpg" alt="" /></a>
                <div class="content">
                    <h2 class="major">Humidity analisys</h2>
                    <p>Relative humidity directly influences the water relations of the plant and indirectly affects leaf growth,
                         photosynthesis, pollination, disease occurrence.</p>
                    <p>The prediction of the humidity in the area for the next  months, based of
                        the average humidity over the last 20 years, is {not ideal, somewhat
                        ideal, ideal} for planting one or several types of crops.</p>
                    <button class="btn shadow-none" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse125" aria-expanded="false" aria-controls="collapse125">
                        <a class="special">Learn More</a>
                    </button>
                    <div class="content collapse" id="collapse125">
                        {% for i in range(0,report.numberOfPlants) %}
                        <p><strong>{{report.plantsNames[i]}}</strong>: The expected relative humidity for the life span of the plant is {{report.avgMonthlyHumidityPlants[report.plantsLifePeriod[i] - 2]}}%.
                            {% if (('Not ideal' in  report.plantsBadges[i][1]) and ('low'  in  report.plantsBadges[i][1] ))%}
                            <p>
                                This relative humidity is considered too low, which may lead to dehydration of the crops, leading to wilting and reduced product
                                quality. It is recommended to postpone planting to another month or to
                                increase the amount of water used when watering and to use sprinklers to increase the
                                relative humidity of the air.
                            </p>
                            {% elif (('Not ideal' in  report.plantsBadges[i][1]) and ('high' in  report.plantsBadges[i][1] )) %}
                            <p>
                                This relative humidity is considered too high, which may lead to poor crop growth, hinder pollination and increase the ease of pest
                                spread. It is recommended to plant in a different month.
                            </p>
                            {% elif 'Almost ideal' in  report.plantsBadges[i][1] %}
                            <p>
                                Relative humidity will be acceptable in the coming months, but caution
                                is advised because of the possibility of 
                                 harmfull levels of humidity.
                            </p>
                            {% else %}
                            <p>
                                Relative humidity is forecast to be acceptable and the chance the relative humidity falling out of
                                the acceptable range is low.
                            </p>
                            {% endif %}
                        </p>
                        {% endfor %}   
                    </div>
                </div>
            </div>
        </section>



        <!-- Two -->
        <section id="two" class="wrapper alt spotlight style5">
            <div class="inner">
                <a href="#" class="image"><img src="static/image/pic02.jpg" alt="" /></a>
                <div class="content">
                    <h2 class="major">Wind analisys</h2>
                    <p>Wind is an important factor in the pollination process, so depending on the type of plantation
                        this can be a crucial factor. Wind increases the turbulence in atmosphere, thus increasing the supply of carbon dioxide to the plants resulting in greater photosynthesis rates.</p>
                    <p>Another point to take into account is that most tree plantations can be damaged by high wind
                        intensity as well as any type of plant if the wind velocity reaches really high speeds.</p>
                    <button class="btn shadow-none" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse124" aria-expanded="false" aria-controls="collapse124">
                        <a class="special">Learn More</a>
                    </button>
                    <div class="content collapse" id="collapse124">
                        {% for i in range(0,report.numberOfPlants) %}
                        <p><strong>{{report.plantsNames[i]}}</strong>: The expected wind velocity for the life span of the plant is {{report.avgMonthlyWindVelocityPlants[report.plantsLifePeriod[i] - 2]}}%.
                            {% if (('Not ideal' in  report.plantsBadges[i][5]) and ('low'  in  report.plantsBadges[i][5] ))%}
                            <p>
                                This wind velocity is considered too low, This can lead to a reduction in photosynthesis, plant size and product quality. In extreme cases, plants die because they are too weak to cope with any change.
                                It is recommended to postpone planting to another month as any artificial method of generating wind in plantations is profitable.
                            </p>
                            {% elif (('Not ideal' in  report.plantsBadges[i][5]) and ('high' in  report.plantsBadges[i][5] )) %}
                            <p>
                                This wind velocity is considered too high, which may damage the plants and cause their death. It is recommended to postpone planting to another month or in case of tree planting, thinning the canopy of the tree will help to reduce damage. 
                                In the case of other types of planting, only extremely strong winds will be a problem because the roots and stems will end up failling. 
                            </p>
                            {% elif 'Almost ideal' in  report.plantsBadges[i][5] %}
                            <p>
                                Wind velocity will be acceptable in the coming months, but caution
                                is advised because of the possibility of 
                                 harmfull levels of wind velocity.
                            </p>
                            {% else %}
                            <p>
                                Wind velocity is forecast to be acceptable and the chance the wind velocity falling out of
                                the acceptable range is low.
                            </p>
                            {% endif %}
                        </p>
                        {% endfor %}   
                    </div>
                </div>
            </div>
        </section>

        <!-- Three -->
        <section id="three" class="wrapper spotlight style4">
            <div class="inner">
                <a href="#" class="image"><img src="static/image/pic02.jpg" alt="" /></a>
                <div class="content">
                    <h2 class="major">Soil analisys</h2>
                    <p>This section looks at two key factors of the soil to be cultivated, its humidity and temperature. Warmth induces vegetation development 
                        in terms of water and nutrient uptake and overall plant growth and the moisture is needed for the plants growth. </p>
                    <p>The prediction of the soil moisture and temperature in the area for the next {x} months, based of
                        the average soil moisture and temperature over the last 20 years, is {not ideal, somewhat
                        ideal, ideal} for planting one or several types of crops.</p>                  
                    <button class="btn shadow-none" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse124" aria-expanded="false" aria-controls="collapse124">
                        <a class="special">Learn More</a>
                    </button>
                    <div class="content collapse" id="collapse124">
                        {% for i in range(0,report.numberOfPlants) %}
                        <p><strong>{{report.plantsNames[i]}}</strong>: The expected soil temperature for the life span of the plant is {{report.avgMonthlySoiltemperaturePlants[report.plantsLifePeriod[i] - 2]}}ºC and the soil moisture is {{report.avgMonthlySoilmoisturePlants[report.plantsLifePeriod[i] - 2]}}.
                            {% if (('Not ideal' in  report.plantsBadges[i][3]) and ('low'  in  report.plantsBadges[i][3] ))%}
                            <p>
                                This soil temperature is considered too low,which can prevent seed germination. In general, the colder the soil, the less nutrients and water accumulate in it, which affects the photosynthesis of the plant and ultimately the product it produces. It can also lead to the death of the plant due to lack of food.
                                It is recommended to postpone planting or mulch the soil to keep it warm. 
                            </p>
                            {% elif (('Not ideal' in  report.plantsBadges[i][3]) and ('high' in  report.plantsBadges[i][3] )) %}
                            <p>
                                This soil temperature is considered too high,which can result in stunted plant growth. In adult plants, this can result in root damage, loss of water and nutrients, and ultimately plant death or reduced yield and quality.
                                It is recommended to postpone planting or to moisten the soil to reduce the temperature by evaporation of water.  
                            </p>
                            {% elif 'Almost ideal' in  report.plantsBadges[i][3] %}
                            <p>
                                Soil temperature will be acceptable in the coming months, but caution
                                is advised because of the possibility of 
                                 harmfull levels of soil temperature.
                            </p>
                            {% else %}
                            <p>
                                Soil temperature is forecast to be acceptable and the chance the Soil temperature falling out of
                                the acceptable range is low.
                            </p>
                            {% endif %}

                            {% if (('Not ideal' in  report.plantsBadges[i][4]) and ('low'  in  report.plantsBadges[i][4] ))%}
                            <p>
                                This soil moisture is considered too low, which can reduce plant growth, photosynthesis, plant and product size.
                                It is recommended to prepare the soil before planting by moistening it for several weeks.
                            </p>
                            {% elif (('Not ideal' in  report.plantsBadges[i][4]) and ('high' in  report.plantsBadges[i][4] )) %}
                            <p>
                                This soil moisture is considered too high, this can lead to the growth of other plants that would steal nutrients, increase the likelihood of pests and their spread, rot the roots, reduce the growth rate of the plant, affect the product and even wilt the plant.
                                It is highly recommended to postpone planting to another month.
                            </p>
                            {% elif 'Almost ideal' in  report.plantsBadges[i][4] %}
                            <p>
                                Soil moisture will be acceptable in the coming months, but caution
                                is advised because of the possibility of 
                                 harmfull levels of soil moisture.
                            </p>
                            {% else %}
                            <p>
                                Soil moisture is forecast to be acceptable and the chance the soil moisture falling out of
                                the acceptable range is low.
                            </p>
                            {% endif %}
                        </p>
                        {% endfor %}   
                    </div>
                </div>
            </div>
        </section>

        <!-- Two -->
        <section id="two" class="wrapper alt spotlight style5">
            <div class="inner">
                <a href="#" class="image"><img src="static/image/pic03.jpg" alt="" /></a>
                <div class="content">
                    <h2 class="major">Benefit analysis</h2>
                    <p>In this section we will specify for each plant, viable for planting on the desired land, the
                        benefit obtainable.
                        Based on the recommended planting density, the product obtained per hectare and the price per
                        kilogram of each product.</p>
                    <button class="btn shadow-none" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse125" aria-expanded="false" aria-controls="collapse125">
                        <a class="special">Learn More</a>
                    </button>
                    <div class="content collapse" id="collapse125">
                        {% for i in range(0,report.numberOfPlants) %}
                        <p><strong>{{report.plantsNames[i]}}</strong>: The price per kilogram of product is {{report.priceperkg[i]}}, the approximate profit
                            obtainable in  total is {{report.benefit[i]}} euros.
                        </p>
                        {% endfor %}   
                            <p>It should be borne in mind that this profits would be close to the ideal and that to achieve
                            it, good conditions for the plants must be ensured throughout their life cycle.</p> 
                            <p>
                                This calculation already includes the price of the water needed, but the price of any extra requirements must be subtracted. We also assume that the collection has achieved an 80% success rate.
                            </p>                      
                    </div>
                </div>
            </div>
        </section>

        



</div>
{% endblock %}
{% block script %}
<script src="../static/js/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="../static/js/jquery.scrollex.min.js"></script>
<script src="../static/js/browser.min.js"></script>
<script src="../static/js/breakpoints.min.js"></script>
<script src="../static/js/util.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

{% endblock %}