{% extends 'baseTemplate.html' %}

{% block style %}

{% endblock %}
{% block content %}
<!-- Page Wrapper -->
<div id="page-wrapper">

    <!-- Banner -->
    <section id="banner">
        <div class="inner">
            <div class="logo"><img src="static/image/logo.png" alt="logo" style="height: 200px; width: 200px;" /></div>

            {% if current_user.is_anonymous %}
            <h2>Welcome to TerraSolution</h2>
            {% else %}
            <h2>Hello {{ current_user.username }} to TerraSolution</h2>
            {% endif %}
            <p>A web service for land analisys and crop monitoring. </p>
        </div>
    </section>

    <!-- Wrapper -->
    <section id="wrapper">

        <!-- One -->
        <section id="one" class="wrapper spotlight style1">
            <div class="inner">
                <a href="#" class="image"><img src="static/image/pic01.jpg" alt="" /></a>
                <div class="content">
                    <h2 class="major">¿What do we do?</h2>
                    <p>At Terra Solution we offer precision farming oriented services, we help to understand the state of an area for agriculture and recommend the best plants for that area.
                    </p><p>
                        In the future we will offer full time crop monitoring, where we will periodically report the status of crops and alert in case of emergency.</p>
                </div>
            </div>
        </section>

        <!-- Four -->
        <section id="four" class="wrapper alt style1">
            <div class="inner">
                <h2 class="major">Services and future services</h2>
                <section class="features">
                    <article>
                        <a href="#" class="image"><img src="static/image/pic04.jpg" alt="" /></a>
                        <h3 class="major">Area analysis</h3>
                        <p>Learn about the feasibility of conditions in a particular area for agriculture. As well as which plants are more viable and monetarily beneficial.</p>
                    </article>
                    <article>
                        <a href="#" class="image"><img src="static/image/pic05.jpg" alt="" /></a>
                        <h3 class="major">Precision analysis (future service)</h3>
                        <p>Find what the conditions of an area are like based on the desired factors and the desired plant(s).</p>
                    </article>
                    <article>
                        <a href="#" class="image"><img src="static/image/pic06.jpeg" alt="" /></a>
                        <h3 class="major">Real time monitoring (future service)</h3>
                        <p>
                            We provide periodic reports with everything you need to know about the state of the crops and environmental factors.</p>
                    </article>
                    <article>
                        <a href="#" class="image"><img src="static/image/pic07.jpg" alt="" /></a>
                        <h3 class="major">Instant check (future service)</h3>
                        <p>
                            If necessary, analyzes of the current state of a culture are also carried out.</p>
                    </article>
                </section>
            </div>
        </section>

        <!-- Two -->
        <section id="two" class="wrapper alt spotlight style2">
            <div class="inner">
                <a href="#" class="image"><img src="static/image/pic02.png" alt="" /></a>
                <div class="content">
                    <h2 class="major">Mani Victor Patel Bentz</h2>
                    <p>Student of software engineering.</p>
                </div>
            </div>
        </section>

        <!-- Three -->
        <section id="three" class="wrapper spotlight style3">
            <div class="inner">
                <a href="#" class="image"><img src="static/image/pic02.png" alt="" /></a>
                <div class="content">
                    <h2 class="major">Sergio López Mayoral </h2>
                    <p>Student of software engineering and information    society technologies engineer. </p>
                </div>
            </div>
        </section>

    </section>
</div>
{% endblock %}
{% block script %}
{% endblock %}