{% extends 'baseTemplate.html' %}

{% block content %}
    <div class="content">
        <h1>Sign In</h1>
        <form action="{{ url_for('login') }}" method="POST" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}<br>
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            <p>{{ form.submit() }}</p>
        </form>
        <p>New User? <a href="/register">Click to Register!</a></p>
    </div>
{% endblock %}

{% block script %} 
    <script src="../static/js/sign.js" type="text/javascript"></script>
{% endblock %}